* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.header-top {
  position: relative;
  background-image: url(../img/header.jpg);
  height: 300px;
  margin-top: 1%;
  border: 8px solid #fff;
}

.container-logo {
  position: absolute;
  top: 60%;
  left:50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.container-logo h1 {
  display: inline-block;
  padding: 5px 10px;
  font-size: 60px;
  margin-bottom: 30px;
  border:  5px solid #fff;
}

nav {
  background-color: grey;
  margin-bottom: 1%;
  height: 50px;
}

.main-menu li:hover {
  background-color: lightgrey;
  border-bottom: 3px solid white;
}

.link {
  color: green;
}

.main-menu {
  list-style: none;
  text-align: center;
}

.main-menu li {
  display: inline-block;
  padding: 0 10px;
  line-height: 50px;
}

.main-menu a {
  color: #fff;
  text-decoration: none;
}

body {
  background-image: url(../img/wood.png);
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 1000px;
  margin: auto;
 }

main::after {
  content: "";
  display: block;
  clear: both;
}

.col-left {
  float: left;
  width: 23%;
  background-color: #fff;
  padding: 10px;
}

.titolo1 {
  margin-bottom: 60px;
  display: inline-block;
  width: 60%;
  vertical-align: top;
}

h2 {
  margin-bottom: 50px;
}

.col-left  .fa-rss-square {
  font-size: 30px;
  color: orange;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.ciao {
  margin-bottom: 60px;
}

.col-central {
  float: left;
  width: 40%;
  background-color: #fff;
  margin-left: 7%;
  margin-right: 7%;
  padding: 10px;
}

.col-right {
  float: right;
  width: 23%;
  padding: 10px;
}

.widget {
background-color: #fff;
margin-bottom:40px;
padding: 10px;
}

footer {
position: relative;
text-align: center;
padding: 10px;
margin-top: 1%;
background-color: #fff;
height: 150px;
}

.facebook {
  position: absolute;
  bottom: 30px;
  left: 150px;
  width: 50px;
  height: 50px;
}

.fa-facebook-square{
  font-size: 40px;
  color: lightgrey;
}

.instagram {
  position: absolute;
  bottom: 30px;
  right: 480px;
  width: 50px;
  height: 50px;
}

.fa-instagram {
  font-size: 40px;
  color: lightgrey;
}

.git {
  position: absolute;
  bottom: 30px;
  right: 150px;
  width: 50px;
  height: 50px;
}

.fa-github {
  font-size: 40px;
  color: lightgrey;
}
